#blau{
	background-color: #4169e1; 
	border-color:#030000;
	color:#FFFFFF; 
	padding: 7px;
	margin-left: 15px; 
	text-align: center;
	font-family: Calibri;
	cursor:pointer;
	vertical-align:middle;
}
#gruen{
	background-color: #1D9053; 
	border-color:#030000;
	color:#FFFFFF; 
	padding: 7px;
	margin-left: 15px; 
	text-align: center;
	font-family: Calibri;
	cursor:pointer;
	vertical-align:middle;
}
#rot{
	background-color: #CB0037; 
	border-color:#030000;
	color:#FFFFFF; 
	padding: 7px;
	margin-left: 15px; 
	text-align: center;
	font-family: Calibri;
	cursor:pointer;
	vertical-align:middle;
}
div{
	height: 30px;
	width: 250px;
}